# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# SQLite databases
*.db
*.db-journal

# Logs
*.log

# IDEs
.idea/
.vscode/
*.swp
*.swo
build/
apptron/apptron
build/
apptron/apptron/
build/
apptron/apptron/
apptron/cmd/pum-admin/assets/com/
apptron/cmd/pum-admin/assets/editor/
apptron/cmd/pum-admin/assets/hanko/
apptron/cmd/pum-admin/assets/img/
apptron/cmd/pum-admin/assets/lib/
apptron/cmd/pum-admin/assets/preview/
apptron/cmd/pum-admin/assets/system/
apptron/cmd/pum-admin/assets/*.html
apptron/cmd/pum-admin/assets/*.css
apptron/cmd/pum-admin/assets/*.js
apptron/cmd/pum-admin/assets/*.svg
apptron/cmd/pum-admin/assets/sys.tar.gz
apptron/cmd/pum-admin/assets/_*
build/
apptron/apptron/
